
@{
    ViewBag.Title = "ChartReport";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Chart Report</div>
    </div>
    <div class="panel-body">
        <div>
            <label>Province</label>
            <select id="province">
                <option>Select All</option>
            </select>
            <label>District</label>
            <select id="district">
                <option>Select All</option>
            </select>
            <label>Local State</label>
            <select id="localstate">
                <option>Select All</option>
            </select>
        </div>
        <div id="container"></div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var loadProvince = function () {
            $.ajax({
                url: '/Dashboard/LoadProvince',
                success: function (data) {
                    $.each(data, function (i, v) {
                        var option = '<option value="' + v.Id + '">' + v.Name + '</option>';
                        $('#province').append(option);
                    })
                }
            })
        }
        var loadDistrict = function () {
            var provinceid = $("#province :selected").val();
            $.ajax({
                url: '/Dashboard/LoadDistrict?ProvinceId=' + provinceid,
                success: function (data) {
                    $('#district>option').remove();
                    $('#district').append('<option>Select All</option>');
                    $.each(data, function (i, v) {
                        var option = '<option value="' + v.DISTRICTID + '">' + v.DISTRICTNAME + '</option>';
                        $('#district').append(option);
                    })
                }
            })
        }
        var loadLocalState = function () {
            var districtid = $("#district :selected").val();
            $.ajax({
                url: '/Dashboard/LoadLocalState?DistrictId=' + districtid,
                success: function (data) {
                    $('#localstate>option').remove();
                    $('#localstate').append('<option>Select All</option>');
                    $.each(data, function (i, v) {
                        var option = '<option value="' + v.VDCID + '">' + v.VDCNAME + '</option>';
                        $('#localstate').append(option);
                    })
                }
            })
        }

        $(document).ready(function () {
            loadProvince();
        })
        $('#province').on('change', function () {
            loadDistrict();
            loadLocalState();
        })
        $('#district').on('change', function () {
            loadLocalState();
        })
        var tempData = [];
        $.ajax({
            url: '/Dashboard/GetChartData',
            cache: false,
            success: function (data) {
                $.each(data, function (i, v) {
                    tempData.push({
                        //name: v[0].SeriesName,
                        //data: v[0].SeriesData
                        name: v.SeriesName,
                        data: v.SeriesData
                    });
                });
                debugger;
                Highcharts.chart('container', {

                    title: {
                        text: 'Solar Employment Growth by Sector, 2010-2016'
                    },

                    subtitle: {
                        text: 'Source: thesolarfoundation.com'
                    },

                    yAxis: {
                        title: {
                            text: 'Number of Employees'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },

                    plotOptions: {
                        series: {
                            label: {
                                connectorAllowed: false
                            },
                            pointStart: 2010
                        }
                    },

                    //series: chartData,
                    series: tempData,
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });
            }
        });
            
    </script>
}