@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@*<form id="rolesForm" name="rolesForm" action="/Role/Create" method="post">
    <label for="Name">Name</label>
    <input type="text" id="Name" name="Name" />
    <button type="submit" id="submit" name="submit">Submit</button>
</form>*@

@using (Html.BeginForm())
{

    <label for="Name">Name</label>
    @Html.TextBoxFor(m => m.Name)

    <input type="submit" value="Create Role" />
}

