@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    string companyName = "Civil Bank";
    ViewBag.Title = "Index";
    int count = 0;
}

<a href="/Role/Create">Create New Role</a>
<table>
    <thead>
        <tr>
            <th>S.N.</th>
            <th>Role Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>