<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/Dashboard/Index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="/MultiLanguage/Index"><i class="fa fa-dashboard fa-fw"></i> Multi Language</a>
            </li>

            <li>
                <a href="/UserProfile/Index"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cogs fa-fw"></i> Setups<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Role/Index"><i class="fa fa-user fa-fw"></i> Roles</a>
                    </li>
                    <li>
                        <a href="/Role/Users"><i class="fa fa-user fa-fw"></i> Users</a>
                    </li>
                    <li>
                        <a href="/Role/UserDetail"><i class="fa fa-user fa-fw"></i> Role Manage</a>
                    </li>
                    <li>
                        <a href="/Province/Index"><i class="fa fa-user fa-fw"></i> Provinces</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-cogs fa-fw"></i> HR<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/HR/Employee/Index"><i class="fa fa-user fa-fw"></i> Employees</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            
            <li class="active">
                <a href="#"><i class="fa fa-files-o fa-fw"></i>Reports<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="active" href="/Reports/EmployeeRecord">Employee Record</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>